@import "tailwindcss";

/* === DESIGN TOKENS === */
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);
}

/* === TAILWIND THEME === */
@theme {
    /* colors */
    --color-bg: var(--gray-900);
    --color-surface: var(--gray-800);
    --color-btn: var(--gray-700);
    --color-text: var(--white);
    --color-green: var(--green);

    /* typography */
    --font-sans: 'Inter', sans-serif;
}


/* === BASE LAYER === */
@layer base {
    body {
        @apply bg-bg text-text text-sm
    }
    
}